@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.sans-serif {
  font-family: 'Lato', sans-serif;
}

.font-normal {
  font-weight: normal;
}

.underline {
  text-decoration: underline;
}
